@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.AspNetCore.Components.Web
@using UndeliverableAddressService.Data
@using UndeliverableAddressService.Models
@page "/qrs" // aka qr-service
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IRecipientRepository RecipientRepository

<div class="application">

    <h1>QR Scan Result</h1>

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="application__danger" role="alert">
            <p class="application__danger-message"> @ErrorMessage</p>
        </div>
    }
    else if (RecipientId.HasValue && ProgramType.HasValue)
    {
        @if (RecipientInfo is not null)

        {
            <header class="application__header">
                <h2>Confirmation</h2>
                <p>
                    Please verify that the information below matches the envelope.
                    If everything looks correct, continue below.
                </p>
            </header>


            <div class="application__confirmation">
                <div class="application__confirmation-box">
                    <dl>
                        <dt class="application__confirmation-label">Program:</dt>
                        <dd class="application__confirmation-value">@ProgramType</dd>

                        <dt class="application__confirmation-label">Recipient ID:</dt>
                        <dd class="application__confirmation-value">@RecipientId</dd>

                        <dt class="application__confirmation-label">Name:</dt>
                        <dd class="application__confirmation-value">
                            @RecipientInfo.FirstName
                            @RecipientInfo.MiddleName
                            @RecipientInfo.LastName
                        </dd>

                        <dt class="application__confirmation-label">Address:</dt>
                        <dd class="application__confirmation-value">
                            @RecipientInfo.AddressLine1,
                            @RecipientInfo.City,
                            @RecipientInfo.StateCode
                            @RecipientInfo.ZIPCode
                        </dd>

                    </dl>
                    <span class="application__confirmation-label">Bad Address: <span
                            class="application__confirmation-value  @(RecipientInfo.FlagBadAddress == 1 ? "text-success" : "text-danger")">
                            @(RecipientInfo.FlagBadAddress == 1 ? "Yes" : "No")
                        </span></span>
                </div>
            </div>

            <div class="confirmation__actions mt-5">
                <button type="button" class="primary-btn btn btn-lg mt-3" @onclick="InvalidateRecipient"
                    disabled="@IsProcessing">@ButtonText</button>
                <button type="button" class="secondary-btn btn btn-lg mt-3">
                    Cancel
                </button>
            </div>
            @if (!string.IsNullOrEmpty(ActionMessage))
            {
                <div class="application__alert  mt-4">
                    <p class="application__alert-message">@ActionMessage</p>
                </div>
            }
        }
        else
        {
            <div class="application__warning" role="alert">

                <p class="application__warning-message"> @ProgramType recipient ID @RecipientId was not found.</p>
            </div>
        }
    }
</div>
@code {
    private int? RecipientId { get; set; }
    private RecipientSource? ProgramType { get; set; }
    private string? ErrorMessage { get; set; }
    private Recipient? RecipientInfo { get; set; }
    private bool IsProcessing { get; set; }
    private string ButtonText => IsProcessing ? "Processing..." : "Invalidate Recipient Address";
    private string? ActionMessage { get; set; }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Example URL: http://localhost:5000/qr-service/?id=123&prog=OTAP

            var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
            var query = QueryHelpers.ParseQuery(uri.Query);

            if (!query.TryGetValue("prog", out var programValue) ||
            !Enum.TryParse<RecipientSource>(programValue.FirstOrDefault(), true, out var prog))
            {
                ErrorMessage = "Program type is empty or invalid (OTAP/TDAP).";
                return;
            }

            if (!query.TryGetValue("id", out var idValue) ||
            !int.TryParse(idValue.FirstOrDefault(), out var recipientId))
            {
                ErrorMessage = "Recipient ID is empty or invalid.";
                return;
            }

            ProgramType = prog;
            RecipientId = recipientId;
            RecipientInfo = await RecipientRepository.GetRecipientByIDAndSource(recipientId, prog);
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error processing QR code: {ex.Message}";
        }
    }

    private async Task InvalidateRecipient()
    {
        if (!RecipientId.HasValue || !ProgramType.HasValue)
        {
            Console.WriteLine("RecipientId or ProgramType is not set.");
            return;
        }

        IsProcessing = true;
        ActionMessage = null;
        StateHasChanged();

        try
        {
            var success = await RecipientRepository.InsertRecipientEvent(
            recipientId: RecipientId.Value,
            source: ProgramType.Value,
            eventTypeCode: "UNDL",
            note: $"Address invalidated via QR Service.",
            updatedBy: "QR-SERVICE"
            );

            ActionMessage = success
            ? "Recipient address successfully invalidated."
            : "Failed to invalidate recipient address. Please try again.";
        }
        catch (Exception ex)
        {
            ActionMessage = $"Error: {ex.Message}";
        }
        finally
        {
            IsProcessing = false;
            StateHasChanged();
        }
    }
}